* {
    box-sizing: border-box;
    
  }

  :root {
    --form-control-color: rebeccapurple;
  }
  
  body {
    margin: 0;
    background: #fafafa;
    color: #262626;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 220px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    background: #ffffff;
    border-right: 1px solid #dbdbdb;
    transition: 0.3s;
  }
  
  .sidebar-header {
    width: 100%;
    margin-bottom: 44px;
  }
  
  .logo-icon {
    display: none;
    font-size: 28px;
    height: 35px;
    width: 51px;
    text-align: center;
  }

  .linksNav{
    text-decoration: none;
  }
  
  .logo-img {
    margin-left: 14px;
    width: 160px;
  }
  
  .sidebar button {
    height: 60px;
    background: transparent;
    border: 0;
    padding: 0;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
  }
  
  .sidebar button > span {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0 12px;
    border-radius: 24px;
    line-height: 1;
  }
  
  .sidebar button:hover > span {
    background: #f2f2f2;
  }
  
  .sidebar button:hover > span :is(i, img) {
    scale: 1.05;
  }
  
  .sidebar button > span > span {
    transition: 0.3s;
  }
  
  @media (width < 769px) {
    .logo-img {
      display: none;
    }
  
    .logo-icon {
      display: block;
    }
  
    .sidebar {
      width: 72px;
    }
  
    .sidebar button > span {
      width: 50px;
    }
  
    .sidebar button > span > span {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .sidebar button i {
    position: relative;
    font-size: 28px;
    transition: 0.2s;
  }
  
  .sidebar button img {
    width: 28px;
    height: 28px;
    transition: 0.2s;
  }
  
  .sidebar button i > span {
    display: grid;
    place-items: center;
    height: 20px;
    padding: 0 4px;
    border-radius: 10px;
    position: absolute;
    top: -5px;
    right: -10px;
    border: 1px solid #ffffff;
    background: #ff2f40;
    color: #f9f9f9;
    font-size: 12px;
    font-family: BlinkMacSystemFont;
    font-style: normal;
  }
  
  .sidebar button i > em {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    position: absolute;
    top: 2px;
    right: -1px;
    border: 1px solid #ffffff;
    background: #ff2f40;
    color: #f9f9f9;
    font-size: 12px;
    font-family: BlinkMacSystemFont;
    font-style: normal;
  }
  
  .sidebar button span {
    font-size: 17px;
  }
  
  .sidebar > nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .sidebar > nav button:last-child {
    margin-top: auto;
  }
  
/* main */
  main{
    width: 70%;
    margin-left: 25%;
    
  }

  /* head_page */
  #conteiner_head{
    display: flex;
    
  }
  #perfil{
    display: flex;
    align-items: center;
    margin-right: 26%;
  }
  #img_perfil{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 5px;
  }
  .miniFoto{
    border-radius: 50%;
  }
  
  #titulo{
    display: flex;
    justify-content: center;
  }
  .titulo h1{
    font-size: 35px;
    border: 1px solid;
    padding: 3px 20px ;
    border-radius: 25px;
  }

  #img{
    display: block;
    margin: auto;
  }

  section #img_post{
    width: 90%; 
    border-radius: 5px;
    
  }

  /* conteudo_ingredientes */

  .titulo{
    display: flex;
    justify-content: center;
  }

  .titulo h1{
    font-size: 35px;
    border: 1px solid;
    padding: 3px 20px ;
    border-radius: 25px;
  }

   .form-control {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
  }

  input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
  place-content: center;
  }

.form-control + .form-control {
    margin-top: 1em;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  } 

  hr{
    margin: 60px 0 40px;
  }

  .interacao{
    display: flex;
    justify-content: space-around;
  }

  .container_int{
    display: flex;
  }

  .avaliacao{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    box-sizing: border-box;
  }

  .avaliacao img{
    width: 30px;
    height: 30px;

  }

  .color2{
    background-color: yellow;
  }
  .color3{
    background-color: rgba(146, 146, 146, 0.644);
  }
  

   /* input[type="checkbox"]:checked + .form-control {
    text-decoration: line-through;
    color: rgb(0, 17, 255);
    
  }   */