*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

::-webkit-scrollbar{
    width: 0;
}

.container .reels_videos{
    position: relative;
    width: 330px;
    height: 550px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.container .reels_videos .videos{
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

.container .reels_videos .videos video{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .reels_videos .videos .top{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    color: #Fff;

}

.container .reels_videos .videos .top h4{
    color: #Fff;
    letter-spacing:  .3px;
    font-weight: 500;
}

.container .reels_videos .videos .top i{
    font-size: 20px;
    user-select: none;
}

.container .reels_videos .videos .icons{
    position: absolute;
    bottom: 10px;
    right: 5px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.container .reels_videos .videos .icons div{
    display: flex;
    flex-direction: column;
}

.container .reels_videos .videos .icons div i{
    font-size: 25px;
    color: rgb(253, 193, 28);
}

.container .reels_videos .videos .icons img{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin-right: 5px;
    box-shadow: 0 0 0 4px #fff;
}

.container .reels_videos .videos .user_perfil{
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: 80%;
    color: #fff;
}

.container .reels_videos .videos .user_perfil img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 5px;
}

.container .reels_videos .videos .user_perfil div{
    display: flex;
    align-items: center;
}

.container .reels_videos .videos .user_perfil h4{
    letter-spacing:  .3px;
    margin-right: 5px;
}

.container .reels_videos .videos .user_perfil button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    letter-spacing:  .5px;
    cursor: pointer;
    user-select: none;
    color: #fff;
}

.container .reels_videos .videos .user_perfil p{
    margin-top: 5px;
    min-height: 44px;
    padding: 5px;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    font-size: 30px;
}

.container .reels_videos .videos .user_perfil span{
    font-size: .85em;
    padding-left: 5px;
    margin-top: 3px;
}
