*{margin: 0;}
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "M PLUS 1", sans-serif;
  color: #494f50;
  font-size: 16px;
  padding: 100px 450px;
  background: #fff;
  --bg-login: #fff;
  --bg-input: #f5f7f880;
  --border: #dfdfdf;
 float: left;
 display: flex;
 overflow-x: hidden;
 justify-content: center;
 align-items: center;
}


a {
  color: inherit;
}

input {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  border: 0;
  outline: 0;
}

input::placeholder {
  color: #aaaaaa;
}

.login {
  max-width: 430px;
  background: var(--bg-login);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--border);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
}

.btns-login {
  display: flex;

}

.btns-login>* {
  flex: 1;
  padding: 15px;
  transition: all 0.2s ease;
}

.btns-login a {
  background: var(--bg-input);
}

.btns-login a:hover,
a.ativo,
.btns-login a.ativo:hover {
  background: var(--bg-login);
}

#um{
	margin-top: 150px;
	margin-left: 100px;
	width: 550px;
	height: 300px;
}


#li{
	border-bottom: 1px solid #000000;
	width: 40%;
	top: -2px;
	float: left;
	display: flex;
	position: relative;
}

#ou{
	text-align: center;
	margin-right: 120px;
}

#lin{
	border-bottom: 1px solid #000000;
	width: 40%;
	float: right;
	top: -40px;
	display: flex;
	position: relative;
}


#logo{
	width: 300px;
	height: 70px;
	margin-top: -30px;
}

#gogle{
	height: 100px;
	width: 500px;
	position: relative;
	display: flex;
	align-items: center;
	margin-left: 50px;
}

#google{
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

#gogle p{
	text-align: center;
	display: block;
	align-items: center;
}

#es{
	text-align: center;
	margin-left: 10px;
}

.container {
  padding: 60px;
}

.form-entrar,
.form-criar-conta {
  display: none;
}

form.ativo {
  display: block;
}

.ct-input {
  width: 320px;
  position: relative;
}

.ct-input label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.ct-input+.ct-input {
  margin-top: 20px;
}

.ct-input input {
  width: 100%;
  display: block;
  background: var(--bg-input);
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: -5px;
  border: 1px solid var(--border);
}

.ct-input i {
  position: absolute;
  top: 45px;
  right: 10px;
  display: none;
}

.ct-input.invalido i.fa-times-circle {
  color: #ec3030;
  display: block;
}

.ct-input.invalido input {
  border: 2px solid #ec3030;
}

.ct-input.valido i.fa-check-circle {
  color: rgb(77, 212, 72);
  display: block;
}

.termos-field {
	width: 350px;
  margin-top: 10px;
}

input:focus {
  outline: 2px solid #ff9b07;
}

#botaoEntrar{
	display: flex;
	justify-content: center;
	align-items: center;
}
.submit {
  width: 320px;
  padding: 15px 10px;
  background: #ff9b07;
  color: white;
  margin-left:-5px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.2s ease;
}

.submit:hover {
  background: #ffae36;
}


.forgot {
  margin-top: 20px;
  text-align: center;
  display: block;
  color: #0d6579;
}



.alert {
  font-size: 0.875rem;
  display: none;
  margin-top: 5px;
}

.lightdarkmode {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 30px;
  background: transparent;
  color: #21a15b
}

footer {
  text-align: center;
  margin-top: 30px;
}


@media screen and (max-width: 1250px){
	.login{
		margin-left: -80px;
	}
	#um{
		margin-left: 120px;
	}
}



@media screen and (max-width: 1202px){
	.login{
		margin-left: -100px;
	}
	#um{
		margin-left: 100px;
	}
}




@media screen and (max-width: 1116px){
	.login{
		margin-left: -150px;
	}
	#um{
		margin-left: 80px;
	}
}

@media screen and (max-width: 944px){
	.login{
		margin-left: -190px;
	}
	#um{
		margin-left: 50px;
	}
}

@media screen and (max-width: 865px){
	.login{
		margin-left: 30px;
	}
	.carousel{
		display: none;
	}
}

@media screen and (max-width: 757px){
	.login{
		margin-left: -15px;
	}
	.carousel{
		display: none;
	}
}

@media screen and (max-width: 658px){
	.login{
		margin-left: -80px;
	}
	.carousel{
		display: none;
	}
}

@media screen and (max-width: 563px){
	.login{
		margin-left: -130px;
	}
	.carousel{
		display: none;
	}
}

@media screen and (max-width: 500px){
	.login{
		margin-left: -170px;
	}
	.carousel{
		display: none;
	}
}


@media screen and (max-width: 384px){
	.login{
		margin-left: -200px;
		max-width: 370px;
		align-items: center;
	}
	#logo{
		margin-left: 0px;
	}

	.ct-input {
		margin-left: -20px;
  width: 300px;
  position: relative;
}

#ou{
	margin-right: 100px;
}

	#gogle{
		margin-right: -20px;
	}

	#google{
		margin-top: -10px;
	}

	.submit{
		margin-left: -25px;
		width: 300px;
	}
	.termos-field{
		width: 300px;
	}
	.carousel{
		display: none;
	}


}